---
layout: default
title: Search
description: 'Search for something'
featured_image: '/images/Sidebar/search.jpg'
---

<section class="intro">

	<div class="wrap">

		<h1>Are you looking for something specific?</h1>
		<p class="hero__text">Here, allow me to help you!</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

    <div id="search-searchbar"></div>

    <div class="post-list" id="search-hits">
      {% for post in site.posts %}
        <div class="post-item">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>

          <div class="post-snippet">{{ post.excerpt }}</div>
        </div>
      {% endfor %}
    </div>
    {% include algolia.html %}

	</div>

</section>
