---
layout: default
title: Search
description: 'Search for something'
featured_image: '/images/Sidebar/search.jpg'
---

<center><h2 style="margin-bottom: 1%;">Are you looking for something specific?</h2></center>

  <div id="search-searchbar"></div>

  <div class="post-list" id="search-hits">
    {% for post in site.posts %}
      <div class="post-item">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>

        <div class="post-snippet">{{ post.excerpt }}</div>
      </div>
    {% endfor %}
  </div>
  {% include algolia.html %}

<script type="text/javascript">
$(document).ready(function() {

	search.addWidget(
	  instantsearch.widgets.searchBox({
	    container: '#search-searchbar',
	    placeholder: 'Search into posts...',
	    poweredBy: true // This is required if you're on the free Community plan
	  })
	);

	search.addWidget(
	  instantsearch.widgets.hits({
	    container: '#search-hits',
	    templates: {
	      item: hitTemplate
	    }
	  })
	);

});

	search.start();

</script>
